

<% include ../partials/head %>

<body>

  <div id='app'>
  <div id="funtimes">

    <h1>Citiessss</h1>

  <div class="alert">
    Invalid City
  </div>

  <form>
    <legend>New City</legend>
    <input id='new-cityname' name="name" placeholder="Name"><br/>
    <input id='new-citydesc' name="description" placeholder="Description">
    <input type="Submit">
  </form>

  <ul class='city-list'></ul>

  </div> <!--funtimes-->
  </div>

  <% include ../partials/scripts %>

</body>
</html>